<%= form_for @micropost do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :content %>
	</div>
	<%= f.hidden_field :group_id, :value=>@group.id %>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>