<tr>
	<td class="micropost">
		<span class="content">
		<%= micropost.content %>
		</span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(micropost.created_at) %> ago. 
		</span>
<% micropost.attachments.each do |attachment| %>
 <% if attachment.image? %>
   <%= link_to image_tag(attachment.data.url(:thumb)), attachment.data.url(:large) %> <br/>
 <% else %>
 <%= link_to attachment.data_file_name, attachment.data.url %> <br/>
<% end %>
<% end %>

<ul>
<% micropost.comments.each do |comment|%>
<li class="comment">
    <h3><%=comment.title %></h3>
    
    <div class="body">
	<%= comment.body %>
    </div>

    <p><%= link_to 'Add a Reply', new_comment_comment_path(comment) %></p>

<% unless comment.comments.empty? %>
	<ul class="comment_list">
	<%= render :partial => 'comments/comment', :collection => comment.comments %>
	</ul>
<% end %>
<% end %>
</ul>
</li>

	</td>
	<% user = micropost.user rescue User.find(micropost.user_id) %>
	<% if current_user?(user) %>
	<td>
		<%= link_to "delete", micropost, :method => :delete, 
										 :confirm => "You sure?",
										 :title => "micropost.content" %>
	</td>
	<% end %>
</tr>


	
